@*@Using Microsoft.Web.Helpers;*@
@{
    Layout = " _SULayout.cshtml";
    Page.Title = "Weekly Submission Form";

    var student_email = Session["email"];

    var db = Database.Open("MyConnectionString");

    var appNum = db.QueryValue("SELECT ID FROM MATHCOSC_APPLICATIONS WHERE EMAIL=@0", student_email);

    var selectQueryString = "SELECT * FROM MATHCOSC_PROGRESS_REPORTS WHERE APP_ID=@0 ORDER BY WEEK DESC";
    var weekQuery = db.QuerySingle(selectQueryString, appNum);

    if (IsPost)
    {
        <!-- Get current week, week = 1 if first entry -->
        var week = 0;
        if (weekQuery == null)
        {
            week = 1;
        }
        else
        {
            week = db.QueryValue("SELECT MAX(WEEK) FROM MATHCOSC_PROGRESS_REPORTS WHERE APP_ID=@0", appNum);
            week++;
        }

        var report = Request.Form["report"];
        var date_submitted = DateTime.Now.ToString("MM/dd/yy");

        <!-- insert new entry into database -->
        var insertQuery = "INSERT INTO MATHCOSC_PROGRESS_REPORTS (APP_ID, WEEK, REPORT, DATE_SUBMITTED) VALUES (@0, @1, @2, @3)";
        db.Execute(insertQuery, appNum, week, report, date_submitted);
    }

}

<!-- Form Validation -->
<script type="text/javascript">

    $(document).ready(function() {
        $("#report_form").validate({
        });
    });

</script> 

<style>
    .row {
        margin-bottom: 15px;
    }
</style>

<div id="intern_app">
    <h3>Past Reports</h3>
    <table style="margin-bottom: 50px;">
        <thead>
            <tr>
                <th>Week</th>
                <th>Date Submitted</th>
                <th>Report</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in db.Query(selectQueryString, appNum))
            {
                <tr>
                    <td>@row.WEEK</td>
                    <td>@row.DATE_SUBMITTED</td>
                    <td>@row.REPORT</td>
                </tr>
            }
        </tbody>
    </table>
    <form id="report_form" method="post" enctype="multipart/form-data">
        <h3>Add new weekly report</h3>
        <div class="row">
            <label for="report">Weekly Report (Tasks Completed, Challenges Faced, Next Week Tasks):</label><br />
            <label><textarea rows="12" cols="80" name="report" id="report" class="required"></textarea></label>
        </div>
        <div class="row">
            <input type="Submit" value="submit" class="input-button" />
        </div>
    </form>
</div>