@*@Using Microsoft.Web.Helpers;*@
@{
    Layout = " _SULayout.cshtml";
    Page.Title = "Weekly Submission Form";

    Response.Write(Session["email"]);

    var student_email = Session["email"];
    var db = Database.Open("MyConnectionString");

    var getAppID = db.QueryValue("SELECT ID FROM MATHCOSC_APPLICATIONS WHERE email=@0", student_email);
    //Response.Write(" APP_ID(" + getAppID + ")");
    var getID = db.QueryValue("SELECT ID FROM MATHCOSC_PROGRESS_REPORTS WHERE APP_ID=@0", getAppID);
    //Response.Write(" ID(" + getID + ")");
}

<style>
    .row {
        margin-bottom: 15px;
    }
</style>
<div id="intern_app" title="new_intern_application">
    <form id="entry-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <label for="tasks">Weekly Report (Tasks Completed, Challenges Faced, Next Week Tasks):</label><br />
            <label><textarea rows="12" cols="80" name="tasks" id="tasks" class="required"></textarea></label>
        </div>
        <div class="row">
            <input type="Submit" value="submit" />
        </div>
    </form>
</div>