@{
    Layout = "_SU_AdminLayout.cshtml";
    Page.Title = "MATHEMATICS AND COMPUTER SCIENCE ADMIN";

}

<div class="content">
    <h1>Internship Postings</h1>
    <ul>
        <li><a href="postings_current">Current Posts</a></li>
        <li><a href="postings_pending">Pending Posts</a></li>
        <li><a href="postings_past">Past Posts</a></li>
    </ul>
</div>